/node_modules
/public/hot
/public/packages
/public/js/*
/public/css/*
/public/mix-manifest.json
/public/storage
/storage/*.key
/.idea
/vendor
.env
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


